---
---

@import "{{ site.theme }}";
ol {
  counter-reset:list;
  padding-left: 2em;
}
ol>li {
  list-style:none;
  counter-increment:list;
}
ol>li::marker {
  content:"[" counter(list) "] ";
  font-weight:bold;
  color: #277777;
}

.wrapper {
  width:80%;
}

header,
footer,
ul.downloads {
  width:270px;
}

header {
  img {
    max-width:60%
  }
}

section {
    width:630px;
}

td {
  text-align: none;
}
