---
---

@import "{{ site.theme }}";
ol {
  counter-reset:list;
  padding-left: 2em;
}
ol>li {
  list-style:none;
  counter-increment:list;
}
ol>li::marker {
  content:"[" counter(list) "] ";
  font-weight:bold;
  color: #277777;
}

.wrapper {
  width:80%;
}

header,
footer,
ul.downloads {
    width:200px;
}

section {
    width:650px;
}
