---
---

@import "{{ site.theme }}";
ol {
  counter-reset:list;
  padding-left: 2em;
}
ol>li {
  list-style:none;
  counter-increment:list;
}
ol>li::marker {
  content:"[" counter(list) "] ";
  font-weight:bold;
  color: #277777;
}

.wrapper {
  width:70%;
}

header img {
  max-width:60%
}
@media print, screen and (max-width: 1080px) {
  .wrapper {
    width:80%
  }
}
